h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Barlow Condensed", sans-serif;
  color: $white-normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  padding: 8px 24px;
  font-size: 24px;
  transition: 0.3s ease;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    transform: translate(15%, -50%);
    background-color: $white-normal;
    transition: 0.3s ease;
  }

  &:hover {
    opacity: 0.8;
    &::after {
      width: 80%;
    }
  }
}

h1 {
  font-size: 96px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }
}

h2 {
  font-size: 72px;
  line-height: 110%;
}
h3 {
  font-size: 40px;
  line-height: 110%;
}
h4 {
  font-size: 32px;
  line-height: 120%;
}
h5 {
  font-size: 24px;
  line-height: 130%;
}

h6 {
  font-size: 18px;
  line-height: 150%;
}

.mask {
  display: inline-block;
  background: linear-gradient(225deg, #2dc7ed 0%, #538bf6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.square {
  display: block;
  margin-top: 64px;
  padding: 16px 24px;
  font-size: 24px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-5%, -22%) rotate(45deg);
    border-radius: 4px;
    background: linear-gradient(225deg, #2dc7ed 0%, $black-dark 100%);
    transition: 0.3s ease;
  }

  &:hover::after {
    transform: translate(-5%, -22%) rotate(60deg);
  }
}
